@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --clr-primary: #FFFFFF;
    --clr-secondary: #f7f7f7;
    --clr-tertiary: #FF653F;
    --clr-text-prim: #2C3E43;
    --clr-text-sec: #7D8289;
    --clr-text-ter: #bdc0c2;
    --clr-highlight: #228FFF;
    --clr-grad1: #415AE0;
    --clr-grad2: #E676F7;
    --clr-bg: #FF5274;
    --clr-bg2: #7DB271;
    --clr-bg3: #61FFC0;
    --clr-border: #e2e2e2;
    --clr-border1: #9BA6EF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-secondary);
    width: 100vw;
    overflow-x: hidden;
    color: var(--clr-text-sec);
}

a{
    text-decoration: none;
    color: var(--clr-text-sec);
    font-size: 0.8rem;
}

ul{
    list-style: none;
}

img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

h1{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--clr-text-prim);
}

h2{
    font-size: 0.9rem;
    font-weight: 500;
}

h3{
    font-size: 0.8rem;
}

h4{
    font-size: 0.7rem;
    color: var(--clr-text-ter);
    font-weight: 400;
}

/* Pseudo Classes */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    color: var(--clr-text-sec);
    border: 2px solid var(--clr-border);
    padding: 10px 25px;
    border-radius: 3px;
}

/* Navbar */
.navbar{
    width: 100vw;
    height: 8vh;
    background-color: var(--clr-primary);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav-container{
    width: 100%;
    height: 100%;
    padding: 0.6em 1em;
    max-width: 2500px;
}

.nav-container.flex{
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
}

.navbar .title{
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: 500;
    flex: 1;
    color: var(--clr-text-prim);
    justify-content: flex-start;
    padding-left: 30px;
}

.navbar .searchbar{
    flex: 3;
    width: 90%;
}

.navbar .searchbar input{
    width: 90%;
    outline: none;
    border: none;
    background-color: var(--clr-secondary);
    padding: 10px 14px;
}

.navbar .searchbar i{
    background-color: var(--clr-border);
    padding: 9px 25px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.navbar .alert{
    flex: 1;
    gap: 10px;
}

.navbar .user-login{
    flex: 1;
    gap: 15px;
}

.navbar .user-login i{
    padding: 10px;
    border: 2px solid var(--clr-border);
    border-radius: 50%;
    font-size: 0.6rem;
    cursor: pointer;
}

/* Main section */
.main-section{
    padding: 20px;
    padding-bottom: 0;
    max-width: 2500px;
    margin: 7.6vh auto 0;
    gap: 30px;
}

.main-section.flex{
    align-items: flex-start;
}

/* Sidebar Section */
.sidebar{
    width: 18%;
    height: 90vh;
    max-height: 1000px;
    background-color: var(--clr-primary);
    text-align: center;
    position: relative;
}

.sidebar.flex{
    flex-direction: column;
    /* justify-content: space-between; */
}

.sidebar .bookmark{
    position: absolute;
    top: 0;
    right: 40px;
    color: var(--clr-bg2);
}

.sidebar .user-info{
    height: 10%;
    width: 100%;
    margin: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    line-height: 1.6;
    border-bottom: 1px solid var(--clr-text-ter);
}

.sidebar .user-info.flex{
    gap: 10px;
    text-align: left;
    justify-content: start;
}

.sidebar .user-info img{
    border-radius: 6px;
}

.menu{
    height: 80%;
    width: 100%;
}

.menu.flex{
    flex-direction: column;
    justify-content: start;
}

.menu-item,
.logout{
    padding: 15px;
    padding-left: 40px;
    text-align: left;
    width: 100%;
    margin: 0 20px;
    border-left: 3px solid var(--clr-primary);
    cursor: pointer;
}

.menu-item:hover{
    background-color: #eff7ff;
    border-left: 3px solid var(--clr-highlight);
    color: var(--clr-highlight);
}

.menu-item:hover *{
    color: var(--clr-highlight);
    background-color: #eff7ff;
}

.menu-item.flex,
.logout.flex{
    gap: 20px;
    width: 100%;
    justify-content: start;
}

.menu-item i{
    color: var(--clr-text-ter);
}

.logout{
    width: 100%;
    height: 10%;
}

/* Main section */
main{
    width: 75%;
}

main.flex{
    flex-direction: column;
    justify-content: space-evenly;
}

/* Header Row */
.header-row{
    width: 100%;
    margin-bottom: 0.8rem;
}

.header-row.flex{
    justify-content: space-between;
}

.float-right.flex{
    gap: 20px;
}

.pagination.flex{
    gap: 15px;
}

.pagination i{
    color: var(--clr-text-ter);
    cursor: pointer;
}

.header-row .btn-primary{
    background-color: var(--clr-highlight);
    color: var(--clr-primary);
    border: none;
    padding: 10px 30px;
}

.header-row .button-grp .btn-plain:first-child{
    border-right: 0;
    padding: 10px 30px;
    border-radius: 3px 0 0 3px;
}

.header-row .button-grp .btn-plain:nth-child(2){
    border-radius: 0 3px 3px 0;
}

/* Live Meeting row */
.live-meeting{
    background: linear-gradient(to right, var(--clr-grad1), var(--clr-grad2));
    padding: 15px 20px;
    color: var(--clr-primary);
    overflow: hidden;
    margin-bottom: 1.2rem;
    width: 100%;
}

.live-meeting.flex{
    justify-content: space-between
}

.live-meeting .info{
    position: relative;
}

.live-meeting .info.flex{
    gap: 10px;
}

.live-meeting .info .names h3{
    padding: 2px 0 3px;
}

.live-meeting .info .names h4{
    margin-top: 2px;
}

.live-meeting .info .big-a{
    color: var(--clr-text-prim);
    font-size: 2rem;
    height: 60px;
    width: 60px;
    background-color: var(--clr-bg3);
    border: 4px solid var(--clr-border1);
    border-radius: 50%;
}

.live-meeting .info i{
    font-size: 5rem;
    position: absolute;
    top: 20px;
    left: 210px;
    opacity: 0.2;
}

.circles-stacked.flex{
    gap: 10px;
}

.live-meeting .circles-stacked .circles .circle{
    height: 30px;
    width: 30px;
    border: 1.4px solid var(--clr-border);
    border-radius: 50%;
    margin-left: -6px;
    background-color: #934ef1;
}

.circles-stacked .circles .circle:first-child{
    border: 2px solid var(--clr-primary);
}

.live-meeting .btn-transparent{
    color: var(--clr-primary);
    border: 1px solid var(--clr-border);
}

.live-meeting .btn-solid.flex{
    gap: 10px;
}

.live-meeting .btn-solid{
    background-color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
}

.live-meeting .btn-solid h3{
    color: var(--clr-text-prim);
}

/* Cards row */
.cards-section{
    margin-bottom: 1.4rem;
    width: 100%;
}

.cards-section .top-row.flex{
    justify-content: space-between;
    margin-bottom: 0.6rem;
}

.cards-section .top-row h2{
    color: var(--clr-text-prim);
}

.cards-section .cards.flex{
    justify-content: space-between;
}

.cards-section .cards .card{
    width: 24%;
    height: 100%;
    background-color: var(--clr-primary);
}

.cards-section .cards .card .info,
.cards-section .cards .card .circles-stacked{
    width: 100%;
    padding: 20px 20px 10px;
    border-bottom: 1px solid var(--clr-border);
}

.cards-section .cards .card.flex{
    flex-direction: column;
}

.cards-section .cards .card .info.flex,
.cards-section .cards .card .status.flex,
.cards-section .cards .card .circles-stacked.flex{
    gap: 20px;
}

.cards .card .info img{
    height: 60px;
    width: 60px;
}

.cards .card .info .names.flex{
    flex-direction: column;
    align-items: start;
    gap: 4px;
}

.cards-section .circle img{
    height: 30px;
    width: 30px;
    border: 2px solid var(--clr-primary);
    margin-left: -8px;
    object-fit: cover;
}

.cards .card .status{
    padding-top: 20px;
    color: var(--clr-tertiary);
}

.cards .card .status h3:first-child{
    color: var(--clr-highlight);
}

.cards .card .btn-block{
    padding: 20px;
    width: 100%;
    text-align: center;
}

.cards .card .btn-block:hover{
    background-color: var(--clr-highlight);
    color: var(--clr-primary);
}

.cards .new-card.flex{
    justify-content: space-between;
    height: 250px;
    border: 2px solid var(--clr-highlight);
    color: var(--clr-highlight);
}

.cards .new-card .plus{
    flex: 4;
    padding: 20px;
}

.cards .new-card .plus i{
    background-color: #eff7ff;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.cards .new-card h3{
    flex: 1;
    padding: 20px;
    cursor: pointer;
}

/* Inbox row */
.inbox-section{
    width: 100%;
}

.inbox-section .top-row{
    margin-bottom: 0.6rem;
}

.inbox-section .inbox-msgs{
    width: 100%;
    flex-direction: column;
}

.inbox-section .inbox-msgs .inbox-msg{
    padding: 14px 20px;
    background-color: var(--clr-primary);
    width: 100%;
    border-bottom: 1px solid var(--clr-border);
}

.inbox-section .inbox-msgs .inbox-msg.flex{
    justify-content:space-between;
    text-align: left;
    gap: 40px;
}

.inbox-section .inbox-msgs .inbox-msg input{
    cursor: pointer;
}

.inbox-section .inbox-msgs .inbox-msg img{
    height: 25px;
    width: 25px;
    object-fit: cover;
}

.inbox-section .inbox-msgs .inbox-msg h2{
    flex: 1;
}

.inbox-section .inbox-msgs .inbox-msg h3{
    flex: 5;
    font-weight: 400;
}

.inbox-section .inbox-msgs .inbox-msg h3 span{
    background-color: var(--clr-secondary);
    padding: 5px 12px;
    color: var(--clr-text-prim);
    font-weight: 500;
    margin-right: 10px;
}

.inbox-section .inbox-msgs .inbox-msg i{
    cursor: pointer;
}

/* Big Plus */
.big-plus{
    width: 7%;
    position: relative;
}

.big-plus i{
    background-color: var(--clr-bg);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--clr-primary);
    position: fixed;
    top: 90vh;
    right: 40px;
}

/* Media Queries */
/* Screen width greater than 2050px */
@media screen and (min-width: 2050px){
    
}